{"http_interactions":[{"request":{"method":"patch","uri":"https://api.github.com/projects/columns/890044?access_token=<TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiVXBkYXRlZCBuYW1lIn0=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["Basic c2FtcGhpbGlwZDpVZFVmUWZyeVVqcjlqSFlKTnBrR2dvM1A2OWpkYzY=\""]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4987"], "X-Ratelimit-Reset":["1491901158"], "X-Github-Media-Type":["github.inertia-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Tue, 11 Apr 2017 08:34:03 GMT"}],"recorded_with":"VCR 3.0.3"}